{% extends 'base.html.twig' %}

{% block title %}Address{% endblock %}

{% block body %}

        <h1> Address</h1>
        <table class="table text-center table-hover table-sm">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom</th>
                    <th>address1</th>
                    <th>address2</th>
                    <th>code postal</th>
                    <th>ville</th>
                    <th>pays</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
                {% for address in  address %}
                    <tr>
                        <td class="align-middle">{{ loop.index }}</td>
                        <td class="align-middle">{{ address.Name }}</td>
                        <td class="align-middle">{{ address.address1 }}</td>
                        <td class="align-middle">{{ address.address2 }}</td>
                        <td class="align-middle">{{ address.postalCode }}</td>
                        <td class="align-middle">{{ address.city }}</td>
                        <td class="align-middle">{{ address.country }}</td>
                        <td class="align-middle">
                            <a href="{{ path('profil_address_update',{'id':address.id}) }}" class="btn btn-success"> Modifier l'addresse </a> 
                            <a href="{{ path('profil_address_delete', {'id': address.id}) }}" class="btn btn-danger"> suprimer l'addresse </a>
                        </td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
        <div class="d-flex justify-content-end my-5">
            <a href="{{ path('profil_address_create') }}" class="btn btn-success"> Ajouter une  l'addresse </a> 
            {# <a href="{{ path('profil_index') }}" class="btn btn-success">Retour </a>  #}
        </div>
            {# <div class="d-flex justify-content-end my-5">
            <a href="{{ path('cart_service') }}" class="btn btn-success"> passer à l'etape suivante </a>
        </div> #}
{% endblock %}