{% extends 'base.html.twig' %}

{% block title %} accueil{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-8 offset-2">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }} bg-{{ label}} text-light p-3 mb-5 rounded">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <section class="section">
        <div class="div">
            <video class="video" autoplay muted loop>
            <source src="{{ asset('images/video.mp4')}}" type="video/mp4" />
            </video>
            <div class="texte">
                <h1 class="title">MISE A DISPOSITIONS DES MACHINES A CAFFE</h1>
                <blockquote class="citation"> " Un café sensationnel à chaque tasse "</blockquote>
            </div>
        </div> 
    </section>

        <section class="section1">
        <article class="article">
            <h2 class= "titre">Créer une convivialité au sein de vôtre entreprise </h2>
            <p class="introduction">Installer des machines à café est une excellente manière
                    pour satisfaire ses collaborateurs et
                    ses clients en ayant des boissons à proximité,
                    tout en étant rentable pour vous !</p>
            <img class="img" src="{{ asset('images/group.jpg')}}" alt="image"  />

        </article>
        
        <div class="row">
            {% for machine in machines %}
                <div class="col-6 p-5">
                    <div class="card">
                        <img src="{{ asset('images/machine/'~ machine.img)}}" class="card-img-top" alt="machine a café LAVAZZA">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{machine.name}}  {{ machine.model}} </h5>
                                <p class="card-text">{{ machine.description}}</p>
                                <a href="{{ path('machine_show', {'id': machine.id}) }}" class="btn btn-warning">Détail</a>
                                <a href="{{ path('machine_index_marque', {'marque': machine.name}) }}" class="btn btn-success">Voir la marque</a>
                            </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-12 text-center">
                <a href="{{ path('machine_index') }}" class="btn btn-warning my-5">Voir toutes les machines</a>
            </div>
        </div>
    </section>
{% endblock %}
