{% extends 'base.html.twig' %}

{% block title %} Users{% endblock %}

{% block body %}

    <h1 class="text-center py-5"> Mon Profil</h1>
        <table class="table text-center table-hover table-sm">
           
            <div class="col-11" id="content">
                <div class="row p-5">
                   {% for label, messages in app.flashes %}
                        {% for message in messages %}
                           <div class="flash-{{ label }} bg-{{ label}} text-light p-3 mb-5 rounded">
                            {{ message }}
                           </div>
                       {% endfor %}
                    {% endfor %}

                   
                </div>
        
        </table>
        <div class="text-center my-5 lien">
            <a href="{{ path('profil_liste') }}" class="btn-cordonnee p-5 m-5 "> gérer mes coordonée</a>
            <a href="{{ path('profil_address_liste') }}" class="btn-address  p-5 m-5">gérer mes addresses</a>
             <a href="{{ path('profil_order_liste')}}" class="btn-order p-5 m-5"> Voir mes commandes </a>  
        </div> 
        <div class="text-center py-5">
            <a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a>
        </div>
{% endblock %}
