{% extends 'base.html.twig' %}

{% block title %} Users{% endblock %}

{% block body %}

<h1 class="text-center py-5">Gérer vos Coordonnées </h1>
<table class="table text-center table-hover table-sm">
    <thead>
        <tr>
           
            <th>N°</th>
            <th>Nom</th>
            <th>prenom</th>
            <th>email</th>
            {# <th>Mot de passe</th> #}
            <th>Nom de l'entreprise</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        
        {% for users in  user %}
            <tr>
                <td class="align-middle">{{ loop.index }}</td>
                <td class="align-middle">{{ users.firstName }}</td>
                <td class="align-middle">{{ users.lastName }}</td>
                <td class="align-middle">{{ users.email }}</td>
                {# <td class="align-middle">{{ users.Password}}></td> #}
                <td class="align-middle">{{ users.companyName }}</td>
                 <td class="align-middle">
                    <a href="{{ path('profil_user_update',{'id':users.id}) }}" class="text-primary"><i class="fas fa-pen-square"></i></a>
                    <a href="{{ path('profil_user_delete',{'id':users.id}) }}" class="text-danger"><i class="fas fa-trash-alt"></i></a> 
                </td>
            </tr>
        {% endfor %}
        
    </tbody>
</table>
 <div class="d-flex justify-content-end my-5 btn">
    <a href="{{ path('user_index') }}" class="btn btn-primary">Retour</a>
     
</div>
{% endblock %}
