{% extends 'base.html.twig' %}

{% block title %} Utilisateurs {% endblock %}

{% block body %}   

    <h1 class="col-4 offset-3 py-5"> Fiche Utilisateur </h1>
    {{ form_start(userForm) }}

        <div class="row py-5">
            <div class="col-4 offset-3 ">
                {{form_row(userForm.firstName, {'label': 'Nom'}) }}    
            </div> 
            <div class="col-4 offset-3">
                {{form_row(userForm.lastName, {'label': 'Prenom'}) }}    
            </div> 
        
            <div class="col-4 offset-3">
                {{ form_row(userForm.email,{'label': 'Email'}) }}
            </div>
            
            <div class="col-4 offset-3">
                {{ form_row(userForm.plainPassword,{'label': 'mot de passe'}) }}
            </div>
           
            <div class="col-4 offset-3"> 
                {{ form_row(userForm.phone , {'label':'Telephonne'}) }}
            </div>

            <div class="col-4 offset-3"> 
                {{ form_row(userForm.company_name, {'label':'Nom de l\'entreprise'}) }}
            </div>

            {# <div class="col-4 offset-3">
                {{form_row(userForm.roles, {'label': 'Role'}) }}
            </div> #}
        </div>

        <div class="col-12 d-flex justify-content-end">
            <a href="{{path('profil_user_create')}}" class="btn btn-danger m-3">retour</a>
            <button class="btn btn-success m-3">Modifier</button>
        </div>

    {{ form_end(userForm) }}

{% endblock %}