{% extends 'base.html.twig' %}

{% block title %}Product!{% endblock %}

{% block body %}

     <h1 class="text-center">Nos Produits</h1>

     <div class="row">
          {% for product in products %}
            {% if id is same as (product.category.id ) %}
                <div class="col-6 p-3">
                    <div class="card">
                        <img src="{{ asset('images/produits/'~ product.img)}}" class="card-img-top" alt="aprovisionnement">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{product.name}} <br> {{ product.quantity}} <br> {{ product.price}} € </h5>
                                <p class="card-text">{{ product.description}}</p>
                                <a href="{{ path('cart_add', {'id': product.id}) }}"  class="btn btn-primary">commander</a>
                            </div>
                    </div>
                </div>
            {% endif %}
          {% endfor %}
      </div>
      {% endblock %}
  


