<h2>Coordonnées du contact</h2>
<ul>
    <li>Nom : {{ firstName }} {{ lastName|upper }}</li>
    <li>Entreprise : {{ companyName }}</li>
    <li>Email : {{ emailAddress }}</li>
</ul>

<h2>Message :</h2>
<p>{{ message|nl2br }}</p>