{% extends 'base1.html.twig' %}

{% block title %} Contact!{% endblock %}

{% block body %}

    <div class="text-center p-5 ">
        <h2 > Contactez-Nous</h2>
         <p>Pour Nous Contacter Veuillez Remplire Ce Formulaire</p>
    </div>
        
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="flash-{{ label }} bg-{{ label }} text-light p-3 my-5 rounded">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
                
        {{ form_start(contactForm) }}

            <div class="row my-5">

                <div class="col-3 offset-3 mb-3">
                    {{ form_row(contactForm.firstName) }}
                       
                </div>
                
                <div class="col-3 mb-3">
                    {{ form_row(contactForm.lastName) }}
                </div>

                <div class="col-6 offset-3 mb-3">
                
                    {{ form_row(contactForm.emailAddress) }} 
                   
                </div>

                <div class="col-6 offset-3 mb-3">
                
                    {{ form_row(contactForm.phone) }}
                    
                </div>
                <div class="col-6 offset-3 mb-3">
                    {{ form_row(contactForm.companyName) }}
                   
                </div>

                <div class="col-6 offset-3 mb-3">
                    {{ form_row(contactForm.message) }}
                </div>

                <div class="col-6 offset-3 text-center">
                    <input type="submit" class="btn btn-form" value="Envoyer">
                </div>
            </div>
            {{ form_end(contactForm) }}
                
            

        <div class="dropdown-divider"></div>
        <div class="text-center ">
            <h5> NOS  COORDONNÉES</h5>
            <div class="dropdown-divider"></div>
            <p> <strong>Nom de L'etreprise :</strong>
                 {{ contact_companyName}}</p>
            <p><strong>Adresse : </strong>{{ contact_address }}</p>
            <p>{{ contact_zip }} {{ contact_city }}</p>
            <p> <strong>Téléphone : </strong>{{ contact_phone }}</p>
            <p> <strong>Email:</strong>{{ contact_email }}</p>
        </div>
    </div>
    
{% endblock %}
