{% extends 'base.html.twig' %}

{% block title %}Machine!{% endblock %}

{% block body %}

 <h1 class=" my-5 text-center"> Vous trouvez tout nos machines</h1>


    <div class="row ">
        {% for machine in machines %}
        <div class="col-6 p-5">
            <div class="card2">
                <img src="{{ asset('images/machine/'~ machine.img)}}" class="card-img-top2" alt="machine a café ">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{machine.name}}  {{ machine.model}} </h5>
                        <p class="card-text">{{ machine.description}}</p>
                        <a href="{{ path('machine_show', {'id': machine.id}) }}" class=" btn-mache">voir plus</a>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
