{% extends 'base1.html.twig' %}

{% block title %} Mes  commandes {% endblock %}

{% block body %}
<h1 class="text-center py-5">Vous Pouvez Voir Vos Commandes </h1> 
    

    <div class="text-center">
    
    
        <div class="col-12">
            <table class="table aligne-middle">
                <thead class="text-center table-secondary">
                    <tr class="fw-bold">
                        <th> Numero</th>
                        <th> Nom Complet </th> 
                        <th> Adresse Complete</th> </th>
                        <th> date de commande</th>
                        <th>total</th>
                        <th>Action</th> 
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for p in orders %}
                            <tr>
                                <td>{{ p.id }}</td>
                                <td>{{ p.user.lastName }} , {{p.user.firstName}}</td>
                                <td>{{ p.address.fullAddress }}</td>
                                <td>{{ p.date | date('d/m/y') }}</td>
                                <td>{{ p.totalAmount|number_format(2,',', '') }}  € </td>
                                <td>
                                    <a href="{{ path('order_detail', {id: p.id }) }}" class="btn btn-success">voir Détail</a>
                                </td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-end my-5">
                <a href="{{ path('user_index') }}" class="btn btn-primary">RETOUR</a>
            </div>
        </div>
    </div>   
{% endblock %}
   

