{% extends 'base.html.twig' %}

{% block title %} Commandes  {% endblock %}

{% block body %}

{{ form_start(orderForm) }}

        <div class="row">
            <div class="col-6 offset-3">
                {{ form_row(orderForm.date,{'label': 'date'})}}
            </div>

            <div class="col-6 offset-3"> 
                {{ form_row(orderForm.total_amount , {'label':'total'}) }}
            </div>
            
            <div class="col-6 offset-3"> 
                {{ form_row(orderForm.user, {'label':'utilisateur'}) }}
            </div>
            <div class="col-6 offset-3"> 
                {{ form_row(orderForm.address, {'label':'adresse'}) }}
            </div>

         </div>
        
        <div class="col-6 d-flex justify-content-end py-5">
            <a href="{{path('cart_index')}}" class="btn btn-danger m-3">Retour</a> 
            <button class="btn btn-warning ">confirmer </button>
        </div>

    {{ form_end(orderForm) }}

    {% endblock %}
   
    
